<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilequizapp">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileQuizApp">

        <!-- Ekran startowy (LAUNCHER) -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Ekran wyboru kategorii -->
        <activity
            android:name=".QuizSelectionActivity"
            android:exported="false" />

        <!-- Główny quiz -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Wyniki -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

    </application>
</manifest>

